html, body {
  height: 100%;
}

#modal-wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#added-modal > * {
  width: fit-content;
}

.btn-column > * {
  width: 150px;
}

.disable-scroll {
  overflow: hidden;
}

#header {
  color: white;
}

.cart:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.item-img {
  object-fit: scale-down;
}

.card-container {
  height: 350px;
}

.card-img-container {
  height: 200px;
}
.summary-img:hover {
  cursor: pointer;
}

.title-text {
  font-size: 14px;
}

.card-body-unpad {
  padding: 0.6rem;
  line-height: 1rem;
}
.card-text-small {
  font-size: 12px;
}

.card-unpad {
  padding: 0;
  cursor: pointer;
}
.card-unpad:hover {
  transform: scale(1.05);
}

#detail-img-wrapper {
  height: 275px;
}
#detail-img-wrapper img {
  object-fit: scale-down;
  height: 100%;
}
#back-to-catalog,
#continue-shopping,
#back-to-cart {
  cursor: pointer;
}

.fit-content {
  width: fit-content;
}

.quantity {
  width: 70px;
}

.trashcan {
  font-size: 24px;
  cursor: pointer;
}

.btn-slim {
  width: fit-content;
}

.validation-err {
  height: 25px;
}

#place-order-btn.disabled {
  cursor: initial;
}
