#header {
  color: white;
}

.item-img {
  object-fit: scale-down;
}

.card-container {
  height: 350px;
}

.card-img-container {
  height: 200px;
}

.title-text {
  font-size: 14px;
}

.card-body-unpad {
  padding: 0.6rem;
  line-height: 1rem;
}
.card-text-small {
  font-size: 10px;
}

.card-unpad {
  padding: 0;
  cursor: pointer;
}
.card-unpad:hover {
  transform: scale(1.05);
}

#detail-img-wrapper {
  height: 275px;
}
#detail-img-wrapper img {
  object-fit: scale-down;
  height: 100%;
}
#back-to-catalog:hover,
#continue-shopping:hover {
  cursor: pointer;
}

.fit-content {
  width: fit-content;
}

.fa-shopping-cart:hover {
  cursor: pointer;
}
