#header {
  color: white;
}

.card-img-top {
  object-fit: scale-down;
}

.card-container {
  height: 350px;
}

.card-img-container {
  height: 200px;
}

.card-title {
  font-size: 14px;
}

.card-body {
  padding: 0.6rem;
  line-height: 1rem;
}
.card-text {
  font-size: 10px;
}

.card {
  padding: 0;
}
